{% extends "AllotoolsFaqBundle:Admin:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/statistiques.css') }}" type="text/css"/>
{% endblock %}

{% block entete %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block general %}
    {{ parent() }}
    <div class="well h4">
        Article : {{ article.titre }}, Année : {{ annee }}
    </div>
    <form method="post"
          action="{{ path('allotools_faq_statistiques_articles_annee', {'route':route,  'article':article.id }) }}"
          name="formDate">
        <div class="col-sm-2 col-sm-offset-5">
            <div class="form-group">
                <select class="form-control" name="annee" onChange="document.forms['formDate'].submit();">
                    {% for i in anneeMin..anneeMax %}
                        <option {% if(annee==i) %} selected {% endif %} value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="panel col-sm-6 col-sm-offset-1">
            <div id="chartContainer" style="height: 400px !important; width: 0; !important;">
                <!-- prob width="100%" style="border: 1px solid #000; height: 250px; width: 30%;" style="border: 1px solid #000; height: 800px !important; width: 100% !important;"-->
            </div>
            <div id="lineLegend"></div>
            <div id="noVue">
            </div>
        </div>
    </div>
    <a class="btn btn-default" href="{{ path('allotools_faq_statistiques_article_dans_categorie', { 'route': route }) }}">Retour</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">


        var positifs = new Array();
        var negatifs = new Array();
        var vues = new Array();

        $(document).ready(function () {



            {% for positif in positifs %}
            positifs.push({{ positif }})
            {% endfor %}

            {% for negatif in negatifs %}
            negatifs.push({{ negatif }})
            {% endfor %}

            {% for vue in vues %}
            vues.push({{ vue }})
            {% endfor %}


            window.onload = function () {
                var chart = new CanvasJS.Chart("chartContainer",
                        {
                            width: 900,
                            height: 400,
                            theme: "theme3",
                            title: {
                                text: "",
                                fontSize: 30
                            },
                            toolTip: {
                                shared: true
                            },
                            axisX: {
                                title: ""
                            },

                            axisY: {
                                title: ""
                            },

                            legend: {
                                verticalAlign: "top",
                                horizontalAlign: "center"
                            },
                            data: [
                                {
                                    type: "column",
                                    name: "positif",
                                    legendText: "positif",
                                    showInLegend: true,
                                    dataPoints: [
                                        {label: "Janvier", y: positifs[0]},
                                        {label: "Fevrier", y: positifs[1]},
                                        {label: "Mars", y: positifs[2]},
                                        {label: "Avril", y: positifs[3]},
                                        {label: "Mai", y: positifs[4]},
                                        {label: "Juin", y: positifs[5]},
                                        {label: "Juillet", y: positifs[6]},
                                        {label: "Aout", y: positifs[7]},
                                        {label: "Septembre", y: positifs[8]},
                                        {label: "Octobre", y: positifs[9]},
                                        {label: "Novembre", y: positifs[10]},
                                        {label: "Decembre", y: positifs[11]}

                                    ]
                                },
                                {
                                    type: "column",
                                    name: "negatif",
                                    legendText: "negatif",
                                    showInLegend: true,
                                    dataPoints: [
                                        {label: "Janvier", y: negatifs[0]},
                                        {label: "Fevrier", y: negatifs[1]},
                                        {label: "Mars", y: negatifs[2]},
                                        {label: "Avril", y: negatifs[3]},
                                        {label: "Mai", y: negatifs[4]},
                                        {label: "Juin", y: negatifs[5]},
                                        {label: "Juillet", y: negatifs[6]},
                                        {label: "Aout", y: negatifs[7]},
                                        {label: "Septembre", y: negatifs[8]},
                                        {label: "Octobre", y: negatifs[9]},
                                        {label: "Novembre", y: negatifs[10]},
                                        {label: "Decembre", y: negatifs[11]}


                                    ]
                                },
                                {
                                    type: "column",
                                    name: "vue",
                                    legendText: "vue",
                                    showInLegend: true,
                                    dataPoints: [
                                        {label: "Janvier", y: vues[0]},
                                        {label: "Fevrier", y: vues[1]},
                                        {label: "Mars", y: vues[2]},
                                        {label: "Avril", y: vues[3]},
                                        {label: "Mai", y: vues[4]},
                                        {label: "Juin", y: vues[5]},
                                        {label: "Juillet", y: vues[6]},
                                        {label: "Aout", y: vues[7]},
                                        {label: "Septembre", y: vues[8]},
                                        {label: "Octobre", y: vues[9]},
                                        {label: "Novembre", y: vues[10]},
                                        {label: "Decembre", y: vues[11]}


                                    ]
                                }

                            ],
                            legend: {
                                cursor: "pointer",
                                itemclick: function (e) {
                                    if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                        e.dataSeries.visible = false;
                                    }
                                    else {
                                        e.dataSeries.visible = true;
                                    }
                                    chart.render();
                                }
                            }
                        });

                chart.render();
            }


        });


    </script>
{% endblock %}