{% extends "AllotoolsFaqBundle:Admin:layout.html.twig" %}


    {% block entete %}
        {{ parent() }}
    {% endblock %}

    {% block menu %}
        {{ parent() }}
    {% endblock %}

    {% block general %}
        {{ parent() }}

        <br>
        {% for flashMessage in app.session.flashbag.get('erreur') %}
            <div class="row col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            </div>
        {% endfor %}
        <div class="well text-left col-sm-6 col-sm-offset-3">

            <form method="POST" action="{{ path("allotools_faq_manage_arbres_ajoute") }}">
                <div class="form-group">
                    <label for="route">Selectionnez une catégorie auquel l'arbre sera associé :</label>
                    <select id="route" class="form-control" name="route">

                        {% for categorie in categories %}
                            <option value="{{ categorie.route }}">{{ categorie.lib }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="question"> Selectionnez la question de départ :</label>
                    <select id="question" name="question" class="form-control">

                        {% for question in questions %}
                            <option value="{{ question.id }}">{{ question.libelle }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="libelle">Choisissez un libéllé pour cet arbre : </label>
                    <input type="text" id="libelle" name="libelle" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-success">Commencer la construction</button>
            </form>

        </div>



    {% endblock %}
