{% extends "AllotoolsFaqBundle:Admin:layout.html.twig" %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/statistiques.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/jquery.jOrgChart.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}"/>
        <link href="{{ asset('css/prettify.css') }}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}" type="text/css" />
    {% endblock %}


    {% block entete %}
        {{ parent() }}
    {% endblock %}

    {% block menu %}
        {{ parent() }}
    {% endblock %}

    {% block general %}
        {{ parent() }}




            <br>
            <h3>Création d'un arbre</h3>

            <ul id="org" style="display:none">
                <li class='root' data-type='init' data-id-etat='{{ questionPrincipale.id }}' data-id="0" data-lib="{{ libelle }}" data-categ="{{ categorie.id }}">
                    <span class="label_node">{{ questionPrincipale.libelle }}</span>
                </li>
            </ul>


        <div id="chart" class="orgChart"></div>
        <div id="fancy" style='display:none;'>
            <form action="." method="post" id="add_node_form" class="well">
                <h3>Nouveau noeud</h3>
                <span class="erreur" style="color: #F33;"></span>
                <br>
                <label for="etat">
                    Selectionnez un état pour cet enfant [ Oui, Non ] puis une question ou un article
                </label>

                <div class="form-group">
                    <label class="radio-inline">
                        <input  type="radio" name="Etat" value="Oui" id="etat" checked>Oui
                    </label>
                    <label class="radio-inline">
                        <input  type="radio" name="Etat" value="Non" id="etat">Non
                    </label>
                </div>

                <div class="form-group">
                    <label for="question">Selectionnez une question pour ce noeud :</label>
                    <select name="question" id="question" class="form-control question">
                        <option value="">Selectionnez une question</option>
                        {% for question in questions %}
                            <option value="{{ question.id }}">{{ question.libelle }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="article">Ou selectionnez un article  pour ce noeud :</label>
                    <select class="article form-control" id="article" name="article">
                        <option value="">Selectionnez un article</option>
                        {% for article in articles %}
                            <option value="{{ article.id }}">{{ article.titre }}</option>
                        {% endfor %}
                    </select>
                </div>

                    <button id="add_node" class="btn btn-success">Ajouter</button>
            </form>
        </div>

        <div id="fancy_edit" style='display:none;'>
            <form action="." method="post" id="edit_node_form" class="well">
                <h3>Modifier ce noeud</h3>
                <span class="erreur" style="color: #F33;"></span>
                <br>
                <label for="etat">
                    Selectionnez un état pour cet enfant [ Oui, Non ] puis une question ou un article
                </label>

                <div class="form-group">
                    <label class="radio-inline">
                        <input  type="radio" name="Etat" value="Oui" id="etat" checked>Oui
                    </label>
                    <label class="radio-inline">
                        <input  type="radio" name="Etat" value="Non" id="etat">Non
                    </label>
                </div>

                <div class="form-group">
                    <label for="question">Selectionnez une question pour ce noeud :</label>
                    <select name="question" id="question" class="form-control question">
                        <option value="">Selectionnez une question</option>
                        {% for question in questions %}
                            <option value="{{ question.id }}">{{ question.libelle }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="article">Ou selectionnez un article  pour ce noeud :</label>
                    <select class="article form-control" id="article" name="article">
                        <option value="">Selectionnez un article</option>
                        {% for article in articles %}
                            <option value="{{ article.id }}">{{ article.titre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button id="edit_node" class="btn btn-warning">Modifier</button>
            </form>
        </div>

        <button class="btn btn-success submit" >
            <span class="glyphicon glyphicon-ok"></span> Créer l'arbre
        </button>
        <a href="{{ path('allotools_faq_manage_arbres') }}" class="btn btn-default" style="margin-left: 20px;">Retour</a>

    {% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.jOrgChart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/prettify.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/jquery.fancybox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/custom.tree.js') }}"></script>



    <script>
        $(document).ready(function(){
            $('.submit').click(function(){




                var hierarchy = [];
                var valid = true;

                $("#org li").each(function(){
                    var type = $(this).attr("data-type");
                    var name = $(this).clone().children().remove().end().text();
                    var hidSTR = "";
                    var hid = $(this).parents("li");


                    for(var i=hid.length-1; i>=0; i--)
                    {
                        if(i != hid.length-1)
                        {
                            hidSTR = hidSTR+hid[i].id+".";
                        }else{
                            hidSTR = hidSTR+""+hid[i].id;
                        }
                    }
                    if(!$(this).hasClass("temp")){


                        var fils = new Object();

                        fils.type = type;
                        fils.id_primary = $(this).attr("data-id")
                        fils.id_etat = $(this).attr("data-id-etat")

                        if(hid.length != 0){
                            fils.id_foreign = $(this).parents("li[class='"+type+"']").attr("data-id")
                        }

                        else{
                            fils.id_foreign = null;
                            fils.lib = $(this).attr("data-lib")
                            fils.cat = $(this).attr("data-categ")
                        }


                        if(type != "article"){


                            fils.oui = $(this).find('> ul > li[data-etat="Oui"]').attr("data-id");
                            fils.non= $(this).find('> ul > li[data-etat="Non"]').attr("data-id");


                            if(fils.oui == undefined || fils.non == undefined){
                                $('.erreur').html("Il manque des noeuds dans votre arbre !");

                                valid = false;


                                var classes = $(this).attr('class');
                                var classesSplitted = classes.split(" ");

                                if(hid.length == 0)
                                    $("."+classesSplitted[0]).effect( "highlight",300 )
                                else
                                    $("."+classesSplitted[1]).effect( "highlight",300 )

                            }
                        }else{
                            fils.oui = null;
                            fils.non = null;
                        }


                        hierarchy.push(fils);
                    }

                });

                if(valid ==true){

                    $.ajax({
                        data: {data:hierarchy},
                        type: "POST",
                        url: "{{ path('allotools_faq_manage_arbres_construit') }}",
                        dataType: "json",
                        beforeSend: function(){
                            $('.submit').prop("disabled", true);
                        },
                        success : function(data){
                            if(data.valid == true){
                                window.location.replace("{{ path('allotools_faq_manage_arbres') }}");
                            }
                        },
                        error : function(a,b,c){
                            $('.submit').prop("disabled", false);
                            console.log(a,b,c)
                        }
                    })

                    //console.log(hierarchy);
                }

            })

        })

    </script>
{% endblock %}






